*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    width: 100vw;
    height: 100vh;
}

.container{
    gap: 1rem;
    display: grid;
    padding: 5px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    border: 2px solid white;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px,500px));
    justify-content: center;
}

.item{
    background-color: blue;
    border: 2px solid rgb(255, 0, 0);
}